@media screen and (min-width: 1181px) {
    aside#menu button.for-mobile {
        display: none;
    }

    #profile-info #close-btn {
        display: none;
    }
}

@media screen and (max-width: 1180px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    aside#menu {
        padding: 10px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    

    aside#menu #logo {
        margin: 20px 0;
        width: 45px;
        height: 45px;
        font-size: 20px;
        margin-right: auto;
    }

    aside#menu ul {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 0;
    }

    aside#menu ul li {
        display: inline-block;
        padding: 10px;
    }

    aside#menu button.for-mobile {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        padding: 10px 20px;
    }

    aside#menu button.for-mobile svg {
        width: 25px;
        height: 25px;
    }

    main {
        grid-row: 2 / 3;
    }

    main #dashboard {
        padding: 100px 5% 50px;
    }

    #profile-info {
        height: 100%;
        width: 420px;
        position: fixed;
        overflow-y: scroll;
        top: 0;
        transition: .8s;
        backdrop-filter: blur(5px);
        background-color: #fafafabe;
        z-index: 6;
    }
    
    #profile-info.open {
        right: 0;
        opacity: 1;
    }

    #profile-info.closed {
        right: -320px;
        opacity: 0;
    }

    #profile-info #close-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        background-color: #ccc;
        border: none;
        outline: none;
        display: grid;
        place-items: center;
        cursor: pointer;
    }

    #profile-info #close-btn svg {
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 501px) {
    #menu-btn {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    body {
        display: block;
    }

    aside#menu {
        position: relative;
        background: #fafafa;
    }

    aside#menu ul {
        position: absolute;
        width: 100%;
        background-color: inherit;
        top: 100%;
        left: 0;
        overflow-y: hidden;
        height: 0;
        transition: .8s;
    }

    #menu-btn {
        display: inline-block;
    }

    .show-menu {
        height: auto !important;
    }

    .hide-menu {
        height: 0;
    }

    main #dashboard > .course-info {
        flex-direction: column;
    }

    main #dashboard > .upcoming {
        flex-direction: column;
        /* padding-bottom: 40px; */
    }

    main #dashboard > .upcoming > * {
        margin: 20px 0px;
    }

    main #dashboard > .upcoming > *:not(:last-child) {
        margin-right: 0px;
    }
}

@media screen and (max-width: 415px) {
    aside#profile-info {
        width: 100%;
    }
}